@import '../../../colors.scss';

.Checkboxes-wrapper {
    text-align: center;
    margin-bottom: 10px;
    font-family: 'Teko', sans-serif;
}

.ant-checkbox-wrapper {
    font-size: 20px !important;
    color: $ink !important;
}